<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" parallel="classes" thread-count="6" >

  <test name="Test">
    <classes>
      <class name="com.jbk.Eproc.TestCases.LoginPageTest"/>
      <class name="com.jbk.Eproc.TestCases.RegistrationPageTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
            